<div class="category-wrapper">
  <div *ngFor="let item of updatedList" class="category">
    <div class="category-header" (click)="toggleDropdown(item)">
      {{ item.category.name }}
      <span class="arrow" [class.open]="item.open"
        ><svg
          width="21"
          height="12"
          viewBox="0 0 21 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.5 1L10.5 10.5L1 0.999999"
            stroke="#185554"
            stroke-opacity="0.4"
            stroke-width="2"
          /></svg
      ></span>
    </div>
    <ul class="subcategory-list" [@toggle]="item.open ? 'open' : 'closed'">
      <li
        (click)="selectCategory(item.category.id)"
        [class.active]="selectedCategoryId === item.category.id"
      >
        All
      </li>
      <li
        *ngFor="let sub of item.subcategories"
        (click)="selectSubcategory(item.category.id, sub.id)"
        [class.active]="selectedSubcategoryId === sub.id"
      >
        {{ sub.name }}
      </li>
    </ul>
  </div>
</div>
