<div class="footer-content">
  <div class="footer-wrapper">
    <div class="footer-links">
      <div class="footer-logo-container">
        <a routerLink="/" style="color: white; text-decoration: none"
          ><img class="footer-logo" src="assets/images/logo2.png" alt="" />
          <h3 class="footer-logo-title">
            Green <br />
            Gear
          </h3></a
        >
      </div>
      <div class="footer-links-container">
        <p>Menu</p>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about-us">About us</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="footer-links-container">
        <p>Explore</p>
        <ul>
          <li><a routerLink="/products">Our Products</a></li>
          <li><a routerLink="/products">Camping</a></li>
          <li><a routerLink="/products">Hiking</a></li>
          <li><a routerLink="/products">Rafting</a></li>
        </ul>
      </div>
    </div>
    <div class="fotter-reserved">
      <p>greengear.com &#64; All rights reserved 2025</p>
      <p>
        Created with love by
        <a href="https://www.instagram.com/andrejplanic/">Andrej Planic</a>
      </p>
    </div>
  </div>
</div>
