<div class="hero-wrapper">
  <div class="hero-section">
    <div>
      <img
        class="hero-image"
        src="assets/images/hero-image.png"
        alt="hero-image"
      />
    </div>
    <div>
      <div class="hero-title">
        <span class="span-green span-caveat">EcoFrendly</span><br />
        Adventures &<br />
        <span class="span-green"
          >Untouched <br />
          Beauty Await</span
        >
      </div>
      <button class="global-button hero-button">Welcome!</button>
    </div>
  </div>
</div>
