<!-- Dugme koje je fiksirano i otvara chat -->
<button class="chatbot-toggle" (click)="toggleChat()">
  <svg
    width="40"
    height="40"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M8 9.5H15M8 13.5H13M15.3 19.1L21 21L19.1 15.3C19.1 15.3 20 14 20 11.5C20 6.80558 16.1944 3 11.5 3C6.80558 3 3 6.80558 3 11.5C3 16.1944 6.80558 20 11.5 20C14.0847 20 15.3 19.1 15.3 19.1Z"
      stroke="white"
      stroke-width="1"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</button>

<div class="chatbot-window" *ngIf="chatOpen">
  <div class="chatbot-header">
    <h4>GreenBot</h4>
    <button class="close-btn" (click)="toggleChat()">✖</button>
  </div>
  <div class="chatbot-messages">
    <div
      *ngFor="let msg of messages"
      [ngClass]="['message', msg.sender]"
      class="chatbot-message"
    >
      {{ msg.text }}
    </div>
  </div>
  <form
    (submit)="sendMessage(); $event.preventDefault()"
    class="chatbot-input-form"
  >
    <input
      type="text"
      placeholder="Ask me anything..."
      [(ngModel)]="inputMessage"
      name="question"
      autocomplete="off"
      required
    />
    <button type="submit">Send</button>
  </form>
</div>
