.page-not-found-wrapper {
  width: 1400px;
  margin: auto;
  text-align: center;
}

.page-not-found-wrapper h1 {
  font-size: 120px;
  margin-top: 70px;
  margin-bottom: 30px;
  color: var(--font-color-secondary);
}
.page-not-found-wrapper p {
  font-size: 16px;
  margin-bottom: 50px;
  color: #95a9b1;
}
